* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #021622;
    text-align: center;
}

.box {
    max-width: 500px;
}

button, p {
    font-size: 8rem;
    color: #fff;
    margin-top: 2rem;
    text-align: center;
}

button {
    width: 140px;
    height: 60px;
    border: 1px #000 solid;
    border-radius: 1rem;
    cursor: pointer;
    font-size: 1.2rem;
    color: #fff;
    outline: none;
    
}

button:nth-child(2) {
    margin: 0 10px 0 10px;
}

#button-start {
    background-color: rgb(1, 108, 19);
}

#button-stop {
    background-color: rgb(115, 115, 115);
}

#button-reset {
    background-color: rgb(137, 4, 4);
}

button:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

